<script type='text/javascript'>
    LABKEY.requiresScript('LoadLibraries.js');
    var webpart = <%=webpartContext%>;
    var wrapperDivId = webpart.wrapperDivId;
    LABKEY.requiresScript(
            'FlowGraph.js',
            true,
            function() {
                setWebPartDiv( wrapperDivId )
            }
    );
</script>

<!--<br>-->

<div id='buttonCreateNcdf' class='centered'></div>

<div id='HiddenDiv'></div> <!-- style='display: none'></div> -->

<br>

<table class='centered-table'>
	<tr><th>Keywords</th></tr>
	<tr><td><div id='comboKeywordName'></div></td></tr>
</table>

<div id='buttonSetKeywords' class='centered'></div>

<br>

<div id='tableKeywords'></div>

<br>

<table class='centered-table'>
	<tr>
		<th>X-Axis</th>
		<th>Y-Axis</th>
	</tr>
	<tr>
		<td><div id='comboBoxXAxis'></div></td>
		<td><div id='comboBoxYAxis'></div></td>
	</tr>
</table>

<table class='centered-table' style='display: none'>
    <tr><th>FUTURE AXIS CHOICES</th></tr>
    <tr>
        <td><div id='comboBoxStim' class='centered'></div></td>
    </tr>
</table>

<br>

<table class='centered-table'>
    <tr><th>Files</th></tr>
    <tr><td><div id='comboFileName'></div></td></tr>
</table>

<div id='buttonGraph' class='centered'></div>
<br>

<div id='graphWebPartContainer' class='centered'>
    <div id='Graph'></div>
</div>
