<!--<script type='text/javascript'>	LABKEY.requiresExt4ClientAPI(); </script>-->
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>

<script type='text/javascript'>

    var initOpenCytoVisualization = function()
    {
        var webPartDiv = <%=webpartContext%>.wrapperDivId;

        var OpenCytoVisualization = new LABKEY.ext.OpenCytoVisualization({
            webPartDivId: webPartDiv
        });

        var resizeModule = function(w, h) {

            LABKEY.Utils.resizeToViewport( OpenCytoVisualization, w, -1, null, null, -5 );

            OpenCytoVisualization.resize();
        };

        Ext.EventManager.onWindowResize( resizeModule );
        Ext.EventManager.fireWindowResize();
    }

    Ext.onReady( initOpenCytoVisualization );

</script>
