<div id='buttonCreateNcdf' class='centered'></div>

<br />

<div id='HiddenDiv' class='centered'></div> <!-- style='display: none'></div> -->

<br>

<table class='centered-table'>
	<tr><th>Keywords</th></tr>
	<tr><td><div id='comboKeywordName'></div></td></tr>
</table>

<div id='buttonSetKeywords' class='centered'></div>

<br />

<div id='tableKeywords' class='centered'>
	<ul id='sortable'>
	</ul>
</div>

<br />

<table class='centered-table'>
	<tr>
		<th>X-Axis</th>
		<th>Y-Axis</th>
	</tr>
	<tr>
		<td><div id='comboBoxXAxis'></div></td>
		<td><div id='comboBoxYAxis'></div></td>
	</tr>
</table>

<table class='centered-table'> <!--style='display: none'>-->
	<tr><th>Replicate</th></tr>
	<tr>
		<td><div id='comboBoxStim' class='centered'></div></td>
	</tr>
</table>

<br />

<table class='centered-table'>
	<tr><th id='filesLabel'>Files</th></tr>
	<tr><td><div id='comboFileName'></div></td></tr>
</table>

<div id='buttonGraph' class='centered'></div>
<br />

<!--<div id='graphWebPartContainer' class='centered'>-->
	<div id='Graph' class='centered'>
		<div style='height: 20px'></div>
	</div>
<!--</div>-->

<input type='text' id='date' name='date' style='display: none'></input>

<script type='text/javascript'>	LABKEY.requiresExt4Sandbox(); </script>
<script>
	var webpart = <%=webpartContext%>;
	var wrapperDivId = webpart.wrapperDivId;

	LABKEY.requiresScript(
			'LoadLibraries.js',
			true,
			function() {
				passParam( wrapperDivId )
			}
	);
</script>
